<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

    <!-- header -->
<header th:fragment="menu" style="margin:0 0 10px">
    <!-- navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="img-responsive" style="height:50px" src="img/logo.png" alt="Logo" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">صفحه اصلی</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">کتاب ها <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a th:href="@{/admin/books/register}" >ثبت کتاب</a></li>
                            <li><a th:href="@{/admin/books/}">لیست کتاب ها</a></li>
                            <li><a th:href="@{/admin/books/exist}">کتاب های موجود</a></li>
                            <li><a th:href="@{/admin/books/deposit}">کتاب های تحت امانت</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">کاربران <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a th:href="@{/admin/users/register}">ثبت کاربر جدید</a></li>
                            <li><a th:href="@{/admin/users/}" >لیست کاربران</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ادمین ها <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a th:href="@{/admin/admins/register}">ثبت ادمین جدید</a></li>
                            <li><a th:href="@{/admin/admins/}" >لیست ادمین ها</a></li>
                        </ul>
                    </li>
                    <li><a href="#team">درباره ما</a></li>
                    <li><a href="#contact">تماس با ما</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>

</body>

</html>