<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>جزئیاتا</title>
    <div th:replace="fragment/admin_header::head"></div>
</head>
<body>
<div th:replace="fragment/admin_header::menu"></div>

<div class="page-title">
    <p style="text-align: right" th:text="${book.getName()}"></p>
</div>

<div class="works" id="books">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img class="img-responsive" width="100px" th:src="'/img/book/'+${book.getCover()}" alt="" />
            </div>
            <div class="col-lg-9" style="border: 1px solid #eee">
                <p style="text-align: right" th:text="${book.getName()}"></p>
                <div th:text=" ${#temporals.format(book.getCreatedAt(), 'yyyy-MM-dd')}"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="border: 1px solid #eee">
                <div th:each="comment : ${comments} ">
                     <p style="text-align: right" th:text="${comment.getuser_id()}"></p>
                    <p style="text-align: right" th:text="${comment.getDescription()}"></p>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragment/footer::footer"></div>

</body>
</html>