<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ادمین های سیستم</title>
    <div th:replace="fragment/admin_header::head"></div>
</head>
<body>
    <div th:replace="fragment/admin_header::menu"></div>

    <div class="page-title">
           <p style="text-align: right">ادمین های سیستم</p>
       </div>
        <!-- works -->
        <div class="works" id="admins">
            <div class="container">
                <div class="row">
                    <table class="table table-hover" style="direction: rtl">
                        <thead>
                            <td>#</td>
                            <td>نام</td>
                            <td>کدملی</td>
                            <td>ویرایش</td>
                            <td>حذف</td>
                        </thead>
                        <tr th:each="admin : ${admins} ">

                            <td >
                                <!-- work details image -->
                                <img class="img-responsive" width="100px" th:src="'/img/admin/'+${admin.getImage()}" alt="" />
                                <!-- heading -->

                                <!-- brand org -->
<!--                                <h6 th:text=" ${#temporals.format(admin.getUpdatedAt(), 'yyyy-MM-dd')}"></h6>-->
                            </td>
                            <td><p th:text="${admin.getFirstname()}+${admin.getLastname()}"></p></td>
                            <td><p th:text="${admin.getNationalcode()}"></p></td>
                            <td><a th:href="'/admin/admins/edit/'+${admin.getId()}" >edit</a></td>
                            <td><a th:href="'/admin/admins/delete/'+${admin.getId()}" >delete</a></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    <div th:replace="fragment/footer::footer"></div>

</body>
</html>